!!!
%html
  %head
    %title A2 Wireframe
    %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/style.css"}
    %meta{:name=> "viewport", :content => "width=500"}
  %body
    = yield