body{font-family: Verdana,Arial,sans-serif;}
#frameholder{border: 4px solid black; color: white; background-color: #33CC33; font-weight: bold; font-size: 1.2em; width: 450px; padding: 0 0.6em; position: relative;}
#frameholder h3 {text-align: center;}
#frameholder .content  {min-height: 220px; text-align: center;}
#frameholder #footer {position: relative; padding-bottom: 0.4em; min-height: 1em;}
#frameholder #ts_left {text-align: left; display: inline;}
#frameholder #ts_right {position: absolute; right: 0; top: 0;}
.warn{color: crimson;}